html,
body {
    font-family: 'Montserrat', sans-serif;
    /* padding-top: 1px; */
    /* font-family: 'Source Code Pro', monospace; */
    scroll-behavior: smooth;
}

.bg-custom {
    background-color: teal;
    transition: background-color 200ms linear;
}

.hide {
    display: none !important;
    opacity: 0;
    height: 0 !important;
}

.navbar {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.navbar-nav {
    text-transform: uppercase;
}

section {
    padding: 3em;
}

section:nth-of-type(even) {
    color: rgb(50, 50, 50);
    /* color: #1F9F19 ; */
    background: #fafafa;
}

.name {
    display: block;
    opacity: 1;
    transition-delay: 4s;
    transition: opacity 2s linear;
    margin-left: 6em;
    margin-right: 6em;
    font-size: 3em;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Amatic SC', cursive;
    text-transform: lowercase;
    vertical-align: middle;
}

.name-footer {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    /* padding: 0 0.5em; */
    font-size: 1.5em;
}

.navitem-tj .fas {
    font-size: 2em;
    padding: 0.25em;
}

.navitem-tj {
    margin-left: 2em;
    margin-right: 2em;
    font-weight: 700;
}

.navitem-tj hr {
    display: inline-block;
    width: 40px;
    /* height: 25px; */
    height: 1px;
    border: none;
    color: #dddddd;
    background-color: #dddddd;
}

.home {
    min-height: 80vh;
    /* border: 0.0001em solid; */
    margin: 3em 20%;
    padding: 3em;
    /* box-shadow: 2px 2px 2px 2px #888888; */
    background: #fafafa;
}

.myphoto {
    border-radius: 70%;
    /* Rounded border */
    margin: 4em;
    /* Some padding */
    width: 300px;
    /* Set a small width */
    height: 300px;
    /* Set a small width */
}

.description p {
    font-size: 1.25em;
    line-height: 2;
}

.description li {
    line-height: 2.25;
}

.intro {
    font-size: 3em !important;
}

.cover-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("../img/bg2.jpg");
    min-height: 70vh;
    text-align: center;
    /* font-family: 'Pacifico', cursive; */
}

.cover-photo h1 {
    font-family: 'Amatic SC', cursive;
    text-transform: lowercase;
    color: white;
    font-size: 10em;
    /* padding-bottom: 1em; */
}

.cover-photo h2 {
    font-family: 'Amatic SC', cursive;
    text-transform: lowercase;
    color: white;
    font-size: 3em;
}

.cover-photo i {
    font-size: 1em;
    color: white;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.hr-custom {
    display: inline-block;
    /* border: 0;
    height: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(255, 255, 255, 0.3); */
    width: 100px;
}

/* 
hr.style2 {
    border-top: 3px double white;
    width: 100px;
}

.my-info {
    list-style-type: none;
}
.my-info li {
    padding: 1em;
}

.my-info li span {
    padding-left: 2em;
} */
.description i {
    font-size: 2em;
    color: teal;
    width: 10px;
    padding-right: 1em;
    text-align: center;
}

.description {
    padding: 2em;
}

.description .row {
    padding: 0.5em;
}

.description .col-9 {
    font-size: 1em;
}

.description h2 {
    font-weight: 400;
    font-size: 2em;
    /* padding-left: 2em; */
    padding-bottom: 0.25em;
}

.contact-info i {
    font-size: 5em;
    color: teal;
    padding: 1em;
}
.contact-info p {
    /* font-size: 1.25em; */
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0.5em;
}

.contact-info {
    padding-bottom: 3em;
}
.short {
    width: 300px;
}

section h1 {
    text-transform: uppercase;
    padding: 1em;
}

.heading-line {
    display: inline-block;
    width: 75px;
    height: 2px;
    border: none;
    color: #cccccc;
    background-color: #cccccc;
}

.job {
    width: 150px;
    /* margin: 1em; */
    border: 0.00001em solid grey;
    /* border-radius: 50%; */
}

.work h5 {
    color: #555555;
    font-style: italic;
}

.work .row {
    padding-top: 2em;
}

.pdf {
    font-size: 1.25em;
    border-radius: 0;
    padding: 1em 3em;
    margin-top: 1em;
    text-transform: uppercase;
}

.pdf i {
    font-size: 1.25em;
    padding-left: 1em;
}

.work ul {
    list-style-type: circle;
    line-height: 2;
    margin-left: 0;
}

footer {
	padding: 2em 1em 1em 2em;
    background-color: rgb(0, 60, 60);
    color: white;
    font-size: 1em;
}

.mygallery {
    /* padding-left: 20%;
    padding-right: 20%; */
    overflow: hidden;
}

.mygallery a img {
    /* margin-top: 1em; */
    margin: 3px;
    height: 150px;
}

.gallery-container {
    padding-top: 12em;
}

.gallery-container h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}